span {
    background: no-repeat right center;
    display: inline-block;
    padding-right: 15px;
}

    span[gold] {
        background-image: url(https://wow.zamimg.com/images/icons/money-gold.gif);
    }

    span[silver] {
        background-image: url(https://wow.zamimg.com/images/icons/money-silver.gif);
    }

    span[copper] {
        background-image: url(https://wow.zamimg.com/images/icons/money-copper.gif);
    }
