@if (_gold != 0)
{
    <span gold>@_gold</span>
}
@if (_silver != 0)
{
    <span silver>@_silver</span>
}
@if (_copper != 0 || Amount == 0)
{
    <span copper>@_copper</span>
}

@code {
    private long _gold, _silver, _copper;

    [Parameter] public long Amount { get; set; }

    protected override void OnParametersSet()
    {
        var goldSilver = Math.DivRem(Amount, 100, out _copper);
        _gold = Math.DivRem(goldSilver, 100, out _silver);
    }
}
