<a data-wowhead="@(Id > 0 ? $"item={Id}&domain=tbc" : null)"
   href="@(LinkEnabled ? $"https://tbc.wowhead.com/item={Id}" : null)"
   style="@(LinkEnabled ? null : "cursor: pointer")"
   @attributes="AdditionalAttributes">
    <CascadingValue Value="_context">
        @if (ChildContent is null)
        {
            <ItemLinkIcon />
            <ItemLinkText />
        }
        else
        {
            @ChildContent
        }
    </CascadingValue>
</a>