@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            <ErrorDisplay @ref="_errors" />
            <CascadingValue Value="_errors" TValue="IErrorHandler">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    private ErrorDisplay? _errors;
} 