@namespace MudBlazor
@inherits MudSimpleTable

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="mud-table-container">
        <table style="@GetTableStyle()">
            @ChildContent
        </table>
    </div>
</div>

@code {
    [Parameter] public bool FixedLayout { get; set; }

    private string? GetTableStyle()
    {
        if (FixedLayout)
        {
            return "table-layout: fixed";
        }
        return null;
    }
}