<MudListItem OnClick="() => Dialog.Close(DialogResult.Ok(Context.Character.Id))">
    <div class="d-flex align-center">
        <MudAvatar Class="mr-5" Color="Context.Color" Size="Size.Small">@Context.AvatarContent</MudAvatar>
        <div class="align-baseline">
            <MudText Typo="Typo.h5" Inline="true" Class="mr-2">@Context.Character.Name</MudText>
            @if (Context.Message?.Length > 0)
            {
                <MudText Typo="Typo.caption" Color="Context.Color" Class="mr-2">@Context.Message</MudText>
            }
        </div>
    </div>
</MudListItem>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; } = null!;
    [Parameter] public AssignEntryContext Context { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Dialog is null) throw new ArgumentNullException(nameof(Dialog));
        if (Context is null) throw new ArgumentNullException(nameof(Context));
    }
}
