@page "/raids/{RaidId:long}"
@inject ApiClient Api
@inject ISnackbar Snackbar

<ApiExecutor Operation="() => Api.Raids.Get(RaidId)" Context="raid" @ref="_executor" BackgroundRefresh="true">
    <div class="content layout-container">
        <AppPageTitle Title=@($"Team {raid.TeamName} Raid - {raid.StartedAt:d}") />
        <div class="d-flex align-center mb-3">
            <MudText Typo="Typo.h4" GutterBottom="false">Team @raid.TeamName Raid</MudText>
            <MudTooltip Text="Refresh" Class="ml-2">
                <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="() => _executor?.RestartAsync() ?? Task.CompletedTask" />
            </MudTooltip>
        </div>
        <MudText Typo="Typo.subtitle1" Inline="false"><DateTimeDisplay Date="raid.StartedAt" Format="f" /></MudText>
        <AuthorizeView Resource="raid.TeamId" Policy="@AppPolicies.LootMasterOrAdmin">
            @if (raid.LocksAt > DateTimeOffset.UtcNow)
            {
                <MudText Typo="Typo.subtitle1" Color="Color.Warning">
                    Locks <DateTimeDisplay Date="raid.LocksAt" Format="f" />
                </MudText>
            }
            else
            {
                <span>
                    <MudText Inline Typo="Typo.subtitle1" Color="Color.Error">Locked</MudText>
                    @if (context.User.IsAdmin())
                    {
                        <MudButton Variant="Variant.Text"
                                   Color="Color.Error"
                                   Size="Size.Small"
                                   OnClick="() => UnlockAsync(raid)">
                            Unlock
                        </MudButton>
                    }
                </span>
            }
        </AuthorizeView>

        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudGrid Spacing="0" Class="content flex-grow-1">
                <MudItem xs="6" Class="layout-container h-100">
                    <KillsView Raid="raid" @key=@("kills") KillAdded="OnKillAdded" />
                </MudItem>
                <MudItem xs="6" Class="layout-container h-100">
                    <AttendeesView Raid="raid" @key=@("attendees") @ref="_attendeesView1" />
                </MudItem>
            </MudGrid>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <div class="content">
                <AttendeesView Raid="raid" @key=@("attendees") @ref="_attendeesView2" />
                <KillsView Raid="raid" @key=@("kills") KillAdded="OnKillAdded" />
            </div>
        </MudHidden>
    </div>
</ApiExecutor>

@code {
    private IApiExecutor? _executor;
    private AttendeesView? _attendeesView1, _attendeesView2;

    [Parameter] public long RaidId { get; set; }

    private async Task UnlockAsync(RaidDto raid)
    {
        await Api.Raids.Unlock(raid).SendErrorTo(Snackbar).ExecuteAsync();
    }

    private void OnKillAdded()
    {
        _attendeesView1?.Refresh();
        _attendeesView2?.Refresh();
    }
}
