@page "/raids/{RaidId}"
@inject ApiClient Api

<ApiExecutor Operation="() => Api.Raids.Get(RaidId)" Context="raid">
    <h1>Team @raid.TeamName Raid</h1>
    <h3>Phase @raid.Phase</h3>
    <h3>@raid.StartedAt.ToOffset(TimeZoneInfo.Local.GetUtcOffset(DateTime.Now)).ToString("f", CultureInfo.CurrentCulture)</h3>

    <AttendeesView Raid="raid" />
    <KillsView Raid="raid" />
</ApiExecutor>

@code {
    [Parameter] public string RaidId { get; set; } = string.Empty;
}
