.month, .week, .day {
    border: 0 solid var(--mud-palette-table-lines);
}

.month {
    border-top-width: 1px;
}

.week {
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.day {
    margin: 0;
    box-sizing: border-box;
    flex-grow: 0;
    max-width: calc(100% / 7);
    flex-basis: calc(100% / 7);
    min-height: 8rem;
    border-left-width: 1px;
}

    .day.dow {
        min-height: 1rem;
    }