.text-poor {
    color: #9d9d9d !important;
}

.text-common {
    color: #ffffff !important;
}

.text-uncommon {
    color: #1eff00 !important;
}

.text-rare {
    color: #0070dd !important;
}

.text-epic {
    color: #a335ee !important;
}

.text-legendary {
    color: #ff8000 !important;
}

.text-artifact {
    color: #e6cc80 !important;
}

.text-heirloom {
    color: #00ccff !important;
}

.text-pc-druid {
    color: #FF7C0A !important;
}

.text-pc-hunter {
    color: #AAD372 !important;
}

.text-pc-mage {
    color: #3FC7EB !important;
}

.text-pc-paladin {
    color: #F48CBA !important;
}

.text-pc-priest {
    color: #FFFFFF !important;
}

.text-pc-rogue {
    color: #FFF468 !important;
}

.text-pc-shaman {
    color: #0070DD !important;
}

.text-pc-warlock {
    color: #8788EE !important;
}

.text-pc-warrior {
    color: #C69B6D !important;
}

.bg-pc-druid {
    background-color: #FF7C0A !important;
}

.bg-pc-hunter {
    background-color: #AAD372 !important;
}

.bg-pc-mage {
    background-color: #3FC7EB !important;
}

.bg-pc-paladin {
    background-color: #F48CBA !important;
}

.bg-pc-priest {
    background-color: #FFFFFF !important;
}

.bg-pc-rogue {
    background-color: #FFF468 !important;
}

.bg-pc-shaman {
    background-color: #0070DD !important;
}

.bg-pc-warlock {
    background-color: #8788EE !important;
}

.bg-pc-warrior {
    background-color: #C69B6D !important;
}

.content {
    padding-top: 1.1rem;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    color: black;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    #blazor-error-ui .reload {
        color: cornflowerblue;
    }

.mud-dialog-scrollable {
    overflow: hidden;
    max-height: calc(100% - 2rem);
}

    .mud-dialog-scrollable > :not(.mud-dialog-title) {
        overflow: auto;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }