<div class="d-flex align-center">
    <MudTooltip Text="This was what was donated last month for priority in the current month.">
        <MudText Inline="false">
            <MudIcon Class="text-icon" Icon="@CustomIcons.HandCoin" />
            This month's donations: <GameCurrencyDisplay Amount="Member.DonatedThisMonth" />
        </MudText>
    </MudTooltip>
    @if (Member.DonatedThisMonth >= Member.ThisMonthRequiredDonations)
    {
        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small" Class="ml-1" />
    }
</div>
<div class="d-flex align-center">
    <MudTooltip>
        <TooltipContent>
            <p>This is what has been donated so far for next month.</p>
            <p>Donate at least <GameCurrencyDisplay Amount="Member.NextMonthRequiredDonations" /> to get a donation priority bonus next month.</p>
        </TooltipContent>
        <ChildContent>
            <MudText Inline="false">
                <MudIcon Class="text-icon" Icon="@CustomIcons.HandCoin" />
                Next month's donations: <GameCurrencyDisplay Amount="Member.DonatedNextMonth" />
            </MudText>
        </ChildContent>
    </MudTooltip>
    @if (Member.DonatedNextMonth >= Member.ThisMonthRequiredDonations)
    {
        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Small" Class="ml-1" />
    }
    @ChildContent
</div>

@code {
    [Parameter] public MemberDto Member { get; set; } = null!;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        if (Member is null) throw new ArgumentNullException(nameof(Member));
    }
}
