@page "/teams"
@inject ApiClient Api
@inject IDialogService DialogService 

<h1>Raid Teams</h1>

<button class="btn btn-primary mr-sm-2 mb-2" type="button" @onclick="() => _executor?.RestartAsync()">
    <span class="fas fa-sync" aria-hidden="true"></span>
    <span class="sr-only">Refresh</span>
</button>
<ApiExecutor Operation="Api.Teams.GetAllTeamNames" Context="teamNames" @ref="_executor">
    <AuthorizeView Roles="@AppRoles.Administrator">
        <button type="button" class="btn btn-primary mb-2" @onclick="CreateClicked">Create Team</button>
    </AuthorizeView>
    <div class="list-group">
        @foreach (var team in teamNames)
        {
            <a class="list-group-item" href="teams/@team">@team</a>
        }
    </div>
</ApiExecutor>

@code {
    private IApiExecutor? _executor;

    private void CreateClicked()
    {
        DialogService.Show<Create>("Create Team");
    }
}
