<MudDialog>
    <DialogContent>
        <p class="text-danger">Removing a character will invalidate all of their attendance records for this team!</p>
        <p>Are you sure you want to remove @CharacterName from the roster?</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="() => Dialog.Cancel()" Variant="Variant.Text">Cancel</MudButton>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="() => Dialog.Close(DialogResult.Ok(true))">Remove</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; } = null!;

    [Parameter] public string CharacterName { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Dialog is null) throw new ArgumentNullException(nameof(Dialog));
        if (CharacterName is null) throw new ArgumentNullException(nameof(CharacterName));
    }
}