@namespace MudBlazor
@inherits MudExpansionPanelEx

<div class="@Classname">
    <div class="mud-expand-panel-header" style="@HeaderStyle">
        <div class="mud-expand-panel-text">
            @if (TitleContent != null)
            {
                @TitleContent
            }
            else
            {
                @Text
            }
        </div>
        @ActionsContent
    </div>
</div>