.mud-dialog {
    overflow: hidden;
    max-height: calc(100% - 2rem);

    > :not(.mud-dialog-title) {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow: hidden;
    }

    &-content {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow: auto;
    }
}

.mud-dialog .mud-dialog-title .mud-switch .mud-button-root {
    top: 0;
    right: unset;
}

.mud-layout {
    height: 100vh;
}

.text-icon {
    font-size: inherit;
    vertical-align: -0.125em;
}

#blazor-error-ui {
    color: black;

    & > .reload {
        color: black;
    }

    & > .dismiss {
        color: black;
    }
}