@import "_variables.scss";

.player-icon {
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;

    &.small {
        width: 24px;
        height: 24px;
        border-width: 2px;
    }

    &.medium {
        width: 40px;
        height: 40px;
        border-width: 3px;
    }

    &.large {
        width: 56px;
        height: 56px;
        border-width: 3.5px;
    }

    @each $classname, $classcolor in $classcolors {
        &.#{$classname} {
            border-color: #{$classcolor};
            background-color: #{$classcolor};
        }
    }

    &-role {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        left: 70%;
        top: 70%;
        color: white;

        &.tank {
            background-color: map-get($rolecolors, "tank");

            svg {
                font-size: 12px;
            }
        }

        &.healer {
            background-color: map-get($rolecolors, "healer");

            svg {
                font-size: 20px;
            }
        }

        &.dps {
            background-color: map-get($rolecolors, "dps");

            svg {
                font-size: 16px;
            }
        }
    }
}
