@inject ApiClient Api
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject PermissionManager Permissions

<ApiExecutor Operation="() => Api.Characters.GetAdminInfo(Character.Id)" Context="adminInfo" @ref="_executor">
    <MudCard Class="mb-3">
        <MudCardContent>
            @if (adminInfo.Owner is null)
            {
                <MudText Color="Color.Error">Unclaimed!</MudText>
            }
            else
            {
                <div>Owner: <GuildMemberDisplay Member="adminInfo.Owner" /></div>
                @if (adminInfo.VerifiedBy is null)
                {
                    <MudText Color="Color.Error">Unverified!</MudText>
                }
                else
                {
                    <div>Verified By: <GuildMemberDisplay Member="adminInfo.VerifiedBy" /></div>
                }
            }

            <MudDivider DividerType="DividerType.Middle" Class="my-2" />

            @foreach (var r in adminInfo.TeamRemovals)
            {
                var removal = r;
                <MudText>
                    Removed from @removal.TeamName on <DateTimeDisplay Date="removal.RemovedAt" Format="F" />
                    <MudIconButton OnClick="() => DeleteRemovalAsync(adminInfo, removal)" Icon="@Icons.Material.Filled.RemoveCircle" Color="Color.Error" Size="Size.Small" />
                </MudText>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton OnClick="() => SetOwnerAsync(adminInfo.Owner)" Color="Color.Primary">@(adminInfo.Owner is null ? "Set" : "Change") Owner</MudButton>

            @if (adminInfo.VerifiedBy is null && adminInfo.Owner is not null)
            {
                <MudButton OnClick="() => VerifyOwnerAsync(adminInfo.Owner)" Color="Color.Primary">Verify Owner</MudButton>
            }
        </MudCardActions>
    </MudCard>
</ApiExecutor>

@code {
    private IApiExecutor? _executor;

    [Parameter] public CharacterDto Character { get; set; } = null!;
    [Parameter] public System.Security.Claims.ClaimsPrincipal User { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Character is null) throw new ArgumentNullException(nameof(Character));
        if (User is null) throw new ArgumentNullException(nameof(User));
    }

    private async Task SetOwnerAsync(GuildMemberDto? oldOwner)
    {
        var result = await DialogService.ShowAsync<PickGuildMemberDialog, GuildMemberDto>("Select Member", new(), new() { MaxWidth = MaxWidth.ExtraSmall, FullWidth = true });

        if (result is not null)
        {
            await Api.Characters.SetOwner(Character.Id, result.Id)
                .OnSuccess(async (_, ct) =>
                {
                    var currentUserId = User.GetDiscordId();
                    if (oldOwner?.Id == currentUserId || result.Id == currentUserId)
                    {
                        await Permissions.RefreshAsync(ct);
                    }
                    if (_executor is not null)
                    {
                        await _executor.RestartAsync();
                    }
                })
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }

    private async Task VerifyOwnerAsync(GuildMemberDto owner)
    {
        if (await DialogService.ShowAsync<VerifyOwnerDialog, bool>(
            "Verify Owner",
            parameters: new()
            {
                [nameof(VerifyOwnerDialog.Character)] = Character,
                [nameof(VerifyOwnerDialog.Owner)] = owner
            }))
        {
            bool success = false;
            await Api.Characters.VerifyOwner(Character.Id).OnSuccess(_ => success = true).SendErrorTo(Snackbar).ExecuteAsync();
            if (success && _executor is not null)
            {
                await _executor.RestartAsync();
            }
        }
    }

    private async Task DeleteRemovalAsync(CharacterAdminDto adminInfo, TeamRemovalDto removal)
    {
        if (await DialogService.ShowAsync<UndoTeamRemovalDialog, bool>(string.Empty, parameters: new()
        {
            [nameof(UndoTeamRemovalDialog.Character)] = Character,
            [nameof(UndoTeamRemovalDialog.Removal)] = removal
        }))
        {
            await Api.Characters.DeleteRemoval(Character.Id, removal.Id)
                .OnSuccess(_ => adminInfo.TeamRemovals.Remove(removal))
                .SendErrorTo(Snackbar)
                .ExecuteAsync();
        }
    }
}
