@inject ApiClient Api

<div class="d-flex">
    <PlayerIcon Race="Character.Race"
                Gender="Character.Gender"
                PlayerClass="Character.Class"
                Size="Size.Small"
                Class="mr-1" />
    <MudText Inline="false">@Character.Name</MudText>

    @if (Character.Deactivated)
    {
        <MudTooltip Class="ml-2" Text="Deactivated">
            <MudIcon Icon="@Icons.Material.Outlined.Warning" Color="Color.Error" Size="Size.Small" />
        </MudTooltip>
    }
    else if (ShowDonations)
    {
        <ApiExecutor Operation="() => Api.Characters.GetDonationSummary(Character.Id)" Context="donations">
            <MudText Inline="false" Class="ml-2">(@donations.NextMonth of @donations.Maximum donated)</MudText>
        </ApiExecutor>
    }
</div>

@code {
    [Parameter] public CharacterDto Character { get; set; } = null!;
    [Parameter] public bool ShowDonations { get; set; }

    protected override void OnParametersSet()
    {
        if (Character is null) throw new ArgumentNullException(nameof(Character));
    }
}
