@page "/Characters/{character}"
@inject ApiClient Api

<ApiExecutor Operation="() => Api.Characters.Get(Character)" Context="character">
    <h1>
        @character.Name
        <RaceIcon Gender="character.Gender" Race="character.Race" Size="IconSize.Large" />
        <ClassIcon PlayerClass="character.Class" Size="IconSize.Large" />
    </h1>

    @if (character.TeamName?.Length > 0)
    {
        <h2><a href="teams/@character.TeamName">&lt;@character.TeamName&gt;</a></h2>
    }

    <AuthorizeView Roles="@AppRoles.Administrator">
        <AdminView Character="character" />
    </AuthorizeView>

    <ApiExecutor Operation="Api.GetPhaseConfiguration" Context="config">
        <ApiExecutor Operation="() => Api.LootLists.GetForCharacter(character.Id)" Context="lootLists">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Class="mb-4">
                @foreach (var phase in config.Brackets.Keys.OrderBy(p => p))
                {
                    <MudTabPanel Text="@($"Phase {phase}")">
                        <LootListView Character="character" Phase="phase" LootLists="lootLists" />
                    </MudTabPanel>
                }
            </MudTabs>
        </ApiExecutor>
    </ApiExecutor>
</ApiExecutor>

@code {
    [Parameter] public string Character { get; set; } = string.Empty;
}
