@inject ApiClient Api

<MudList Dense="true">
    <MudListSubheader>
        <MudButton OnClick="() => _executor?.RestartAsync() ?? Task.CompletedTask"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Refresh"
                   Color="Color.Primary"
                   Class="mr-2">
            Refresh
        </MudButton>
    </MudListSubheader>
    <ApiExecutor Operation="() => Api.Drops.GetForCharacter(Character.Id)" Context="drops" @ref="_executor">
        @if (drops.Count > 0)
        {
            @foreach (var drop in drops)
            {
                <MudDivider />
                <MudListItem Class="mud-list-item-clickable" Style="cursor: auto">
                    <div class="d-flex">
                        <MudAvatar Class="mr-5" Rounded="true">
                            <ItemIcon ItemId="drop.ItemId" Size="IconSize.Medium" width="40" height="40" />
                        </MudAvatar>
                        <div class="mr-auto">
                            <ItemLink LinkEnabled="true" Id="drop.ItemId" Colorize="true" Bracketize="true">
                                <ItemLinkText />
                            </ItemLink>
                            <div>
                                <MudText Typo="Typo.caption" Inline="false">
                                    Awarded <DateTimeDisplay Date="drop.AwardedAt" Format="f" />
                                    <MudLink Href="@("raids/" + drop.RaidId)" Typo="Typo.caption">View Raid</MudLink>
                                </MudText>
                            </div>
                        </div>
                    </div>
                </MudListItem>
            }
        }
        else
        {
            <MudListSubheader>
                <p>@Character.Name has not won any items yet.</p>
            </MudListSubheader>
        }
    </ApiExecutor>
</MudList>

@code {
    private IApiExecutor? _executor;

    [Parameter] public CharacterDto Character { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Character is null) throw new ArgumentNullException(nameof(Character));
    }
}
