<div class="mb-5">
    <MudText Typo="Typo.h6">@Question</MudText>
    <MudText Typo="Typo.body2">@ChildContent</MudText>
</div>

@code {
    [Parameter] public string? Question { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
