@page "/"

<PageTitle />

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudGrid Spacing="3">
        <MudItem xs="12" lg="9">
            <ImageCarousel ShowLogo Container="progress" />
        </MudItem>
        <MudHidden Breakpoint="Breakpoint.MdAndDown">
            <MudItem xs="3" Class="d-none d-lg-block">
                <ImageCarousel ShowTitle Container="selfies" />
            </MudItem>
        </MudHidden>
    </MudGrid>
    <MudDivider Class="ma-4" />
</MudHidden>

<MudText Typo="Typo.h5" Color="Color.Primary">Our Motto</MudText>
<MudText Typo="Typo.body1">Valhalla aims to create a friendly and fair environment that strives to support players in their PVE endeavors while maintaining a steady progression path.</MudText>
<MudDivider Class="ma-4" />
<MudText Typo="Typo.h5" Color="Color.Primary">Who We Are</MudText>
<MudText Typo="Typo.body1">We are mainly veterans of World of Warcraft but we also accept newcomers or casual players. Our primary interest is in raiding and dungeons but our members also host a variety of events in-and-out of game.</MudText>
<MudText Typo="Typo.body1">We only have two rules:</MudText>
<MudExpansionPanels MultiExpansion="true" Class="ma-4">
    <MudExpansionPanel>
        <TitleContent>
            <MudText Typo="Typo.h6">1) Be respectful</MudText>
        </TitleContent>
        <ChildContent>
            <MudText Typo="Typo.body1">In the most general sense, don’t disrespect other players via name-calling or grief other players by ruining their gaming experience on purpose.</MudText>
            <MudDivider Class="ma-4" />
            <li>DON’T interfere with other players in a way that endangers them</li>
            <li>DON’T kite mobs outside of the zone they spawned in</li>
            <li>DON’T train mobs onto other players</li>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel>
        <TitleContent>
            <MudText Typo="Typo.h6">2) No political, religious, or pornographic content in guild channels</MudText>
        </TitleContent>
        <ChildContent>
            <MudText Typo="Typo.body1">As a large guild with members of many different cultural backgrounds, controversial or sensitive topics are best left to private discussions.</MudText>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>