@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
        <MyCharactersView User="context.User" />
    </Authorized>
    <NotAuthorized>
        <MudButton Link="authentication/login" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>