@page "/loginerror"
@page "/loginerror/{Reason}"
@page "/loginerror/{Reason}/{RemoteError}"

<PageTitle Title="Login Error" />

<h3>Login Error</h3>

<div class="alert alert-danger" role="alert">
    @_message
</div>

@code {
    private string? _message;

    [Parameter] public string? Reason { get; set; }

    [Parameter] public string? RemoteError { get; set; }

    protected override void OnParametersSet()
    {
        Enum.TryParse<LoginErrorReason>(Reason, true, out var loginError);
        _message = loginError switch
        {
            LoginErrorReason.FromDiscord => $"An error has occurred from Discord: '{RemoteError}'",
            LoginErrorReason.FromLoginProvider => "Error loading external login information.",
            LoginErrorReason.LockedOut => "Your account has been locked out.",
            LoginErrorReason.FromAccountCreation => "An error has occurred while trying to create your user profile.",
            LoginErrorReason.NotInGuild => "You are not in the guild discord.",
            LoginErrorReason.NotAMember => "You have not been given member access in the guild discord.",
            _ => "An unknown error has occurred while trying to log in."
        };
    }
}
